.back {
	position: absolute;
	min-width: 100vw;
	max-height: 100vh;
}

.headtitle {
	position: absolute;
	color: white;
	font-size: 7vw;
	font-family: lato;
	font-weight: 400;
	left: 12%;
	top: 20%;
	text-align: center;
}

.paragraph {
	position: absolute;
	margin: 5%;
	color: #18243D;
	top: 115%;
	font-size: 2vw;
	font-family: lato;
	font-weight: 400;
	text-align: center;
}

.acknowledgements {
	position: absolute;
	margin: 5%;
	color: #3B5893;
	top: 145%;
	font-size: 1.7vw;
	font-family: lato;
	font-weight: 300;
	text-align: center;
}

.alink {
	text-decoration: none;
}

.link {
	color: #6AB4FF;
}