.back {
	position: absolute;
	min-width: 100vw;
	max-height: 100vh;
}

.headtitle {
	position: absolute;
	color: white;
	font-size: 9vw;
	font-family: lato;
	font-weight: 300;
	left: 20%;
	top: 20%;
	text-align: center;
}

.paragraph {
	position: absolute;
	margin: 10%;
	color: #34344D;
	top: 110%;
	font-size: 2.2vw;
	text-align: center;
}