@keyframes fadein80 {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

@keyframes fadein100 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
	position: relative;
}

#splash {
	position: fixed;
	max-height: 100vh;
	min-width: 100vw;
	animation-name: fadein100;
	animation-duration: 1.5s;
	animation-timing-function: linear;
}

a h1 {
	position: fixed;
	top: 55%;
	left: 20%;
	font-size: 8vw;
	font-family: lato;
	font-weight: 300;
	color: #E5E5E5;
	opacity: 0.8;
	animation-name: fadein80;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
	transition: 0.5s;
}

a h1:hover {
	opacity: 0.3;
}