@font-face {
	font-family: "Bebas 100";
	src: url("../fonts/Bebas 100.otf");
}

@font-face {
	font-family: "Bebas 200";
	src: url("../fonts/Bebas200.ttf");
}

@font-face {
	font-family: "Bebas 300";
	src: url("../fonts/Bebas 300.otf");
}

@font-face {
	font-family: "Bebas 400";
	src: url("../fonts/Bebas 400.otf");
}

@font-face {
	font-family: "Bebas 500";
	src: url("../fonts/Bebas 500.otf");
}

@font-face {
	font-family: "Nexa";
	src: url("../fonts/Nexa.otf");
}

body {
	position: relative;
}

#splash {
	background-image: url(images/splash.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

a h1 {
	position: absolute;
	top: 32.4%;
	left: 30%;
	font-size: 1000%;
	font-family: Oswald;
	font-weight: 100;
	color: #E5E5E5;
}


