div, h1, h2, h3, h4, h5, a, ul, li {
	/* This style forces a black border on most elements in this assignment 
	   Uncomment it to help you visualize the document structure */
	
	
	/* border: 2px solid black ;
	box-sizing:border-box;
	margin: 1px; */
	
}

/* This CSS rule removes some of the default styling You can leave it in place */
h1, h3, h4, h5, p, a, body
{
	padding: 0px;
	margin: 0px;
}

h2 {
	margin: 0px;
	padding: 3%;
	font-size: 5vw;
}

.top, .middle, .bottom {
  background-color: transparent;
  width: 100vw; 
  height: auto;
}

.bigImage {
  width: 100vw;
  height: auto; 
}

.imageText {
  font-family: "Lato";
  color: white;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
  line-height:
}

.topContainer {
	background-image: url("https://cloud.githubusercontent.com/assets/13310037/9508709/e265ef1a-4c0c-11e5-96ce-5f34cef9984e.jpg");
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
    	background-size: 100vw;
	margin: auto;
}

.midLeft, .midRight {
	display: inline-block;
	margin-top:0.5vw;
	width: 50vw;
	height: 50vw;
}

.midRight {
	background-color: orange;
}

.midLeftTitle, .midLeftText {
	font-family: "Bebas Neue";
	color:#feb913;
}

.midLeftTitle {
	padding-bottom: 0;
	font-size:7.5vw;
	padding-left:2vw;
	padding-top: 3vw;
}

.midLeftText {
	padding-top:0;
	padding-left:3vw;
	
}

.midLeftIcon {
	
}
