div, h1, h2, h3, h4, h5, a, ul, li {
	/* This style forces a black border on most elements in this assignment 
	   Uncomment it to help you visualize the document structure */
	
	
	border: 2px solid black ;
	box-sizing:border-box;
	margin: 1px;
	
}

/* This CSS rule removes some of the default styling You can leave it in place */
h1, h2, h3, h4, h5, p, a, body
{
	padding: 0px;
	margin: 0px;
}

.top, .middle, .bottom {
  background-color: transparent;
  width: 100vm; 
  height: auto;
}

.bigImage {
  width: 100vw;
  height: auto; 
}

.imageText {
  vertical-align: middle; 
  font-family: lato;
}

.topContainer {
	background-image: url("https://cloud.githubusercontent.com/assets/13310037/9508709/e265ef1a-4c0c-11e5-96ce-5f34cef9984e.jpg");
	width: 100vm;
	height: 100vh;
}
