body {
	font: arial;
	box-sizing: border-box;
}

.waterWater {
	background-size: cover;
	width: 100vw;
	height: 50%;
	font-weight: bold;
}

.BigHeader {
	position: absolute;
	left: 0;
	top: 400px;
	color: white;
	background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
    font-size: 50px;
}

.break {
	margin-top: 25px;
	margin-bottom: 10px;
}

.right {
	margin-right: 5px;
}

.left {
	margin-left: 10px;
}

.largeHeader {
	text-align: center;
}

.colorbackground {
	width: 30vw;
	background-color: #AF3F3A;
	height: 30wv;
}

.supportClass {
	height: 600px;
	width: 600px;
	margin: auto;
}
