li {
  display: inline-block;
}

.nav>li {
    position: relative;
    display: block;
}


.nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.center {
    margin: auto;
    width: 60%;
}

@media (min-width: 1200px)
.container {
    width: 1170px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

div {
  display:block;
}
