.content-image {
	min-width: 100vw;
	max-height: 100vh;
	position: absolute;
}

.content-caption {
  position: absolute;
  text-align: center;
  font-family: "Lato";
  font-weight: 400;
  font-size: 6vw;
  color: #333333;
  top: 25%;
  left: 5%;
  opacity: 0.5;
}

.btn {
	position: absolute;
	top: 57%;
	left: 9%
}

.paypal {
	top: 70%;
	left: 10%;
}